<!-- ****** Top Catagory Area Start ****** -->
<section class="top_catagory_area d-md-flex clearfix">
    <!-- Single Catagory -->
    <div
        class="single_catagory_area d-flex align-items-center bg-img"
        style="background-image: url(../../../../../assets/img/bg-img/men.jpg); background-position: top"
    >
        <div class="catagory-content">
            <h6>On Accesories</h6>
            <h2>Sale 30%</h2>
            <a routerLink="/shop" class="btn karl-btn">SHOP NOW</a>
        </div>
    </div>
    <!-- Single Catagory -->
    <div
        class="single_catagory_area d-flex align-items-center bg-img"
        style="background-image: url(../../../../../assets/img/bg-img/women.jpg); background-position: top"
    >
        <div class="catagory-content">
            <h6>in Bags excepting the new collection</h6>
            <h2>Designer bags</h2>
            <a routerLink="/shop" class="btn karl-btn">SHOP NOW</a>
        </div>
    </div>
</section>
<!-- ****** Top Catagory Area End ****** -->
