/* PrimeNG Checks Start */
div.widget-desc *.p-element {
    display: block !important;
    margin-bottom: 1rem;
}
div.p-checkbox.p-component {
    margin-right: 0.5rem !important;
}
/* PrimeNG Checks Finish */

/* PrimeNG th,td Start */
.p-datatable .p-datatable-thead > tr > th {
    text-align: center !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center !important;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}
/* PrimeNG th,td Finish */

.p-datatable .p-datatable-header{
    padding: 1.25rem;
}
.p-toolbar {
    padding: 1.25rem;
}

.p-button{
    padding: 0.75rem 1.25rem;
}
.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 3rem;
}