<div class="cart_area section_padding_100 clearfix">
    <div class="container">
        <div class="row">
            <p-table *ngIf="cart" [value]="cartItems" styleClass="p-datatable-striped">
                <ng-template pTemplate="caption">
                    <div class="d-flex align-items-center">
                        <span class="flex-grow-1 gap-3">Products</span>
                        <p-button (click)="showDialog()" icon="pi pi-trash"></p-button>
                        <p-dialog
                            [(visible)]="visible"
                            [modal]="true"
                            [style]="{ width: '50rem' }"
                            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
                        >
                            <p class="ps-3">Do you want to clear all cart items?</p>
                            <ng-template pTemplate="footer">
                                <p-button
                                    [style]="{ margin: '0.5rem' }"
                                    (click)="clearCart()"
                                    label="Yes"
                                    pAutoFocus
                                    [autofocus]="true"
                                ></p-button>
                                <p-button
                                    [style]="{ margin: '0.5rem' }"
                                    (click)="visible = false"
                                    label="No"
                                    pAutoFocus
                                    [autofocus]="true"
                                ></p-button>
                            </ng-template>
                        </p-dialog>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cartItem>
                    <tr>
                        <td>{{ cartItem.id }}</td>
                        <td>
                            <img
                                [src]="cartItem.firstImgPath"
                                [alt]="cartItem.firstImgPath"
                                width="100"
                                class="shadow p-3"
                            />
                        </td>
                        <td>{{ cartItem.price | currency: "₺" }}</td>
                        <td>{{ cartItem.size }}</td>
                        <td>{{ cartItem.quantity }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="d-flex align-items-center justify-content-between">
                        In total there are {{ cartItems ? quantity : 0 }} products.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="cart-total-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Cart total</h5>
                    </div>

                    <ul class="cart-total-chart">
                        <li>
                            <span>Subtotal</span> <span>{{ totalPrice | currency: "₺" }}</span>
                        </li>
                        <li><span>Shipping</span> <span>Free</span></li>
                        <li>
                            <span><strong>Total</strong></span>
                            <span
                                ><strong>{{ totalPrice | currency: "₺" }}</strong></span
                            >
                        </li>
                    </ul>
                    <a routerLink="/checkout" class="btn karl-btn mt-30 btn-app-secondary">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
