<div class="admin-card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success me-2"
                (click)="openNew()"
            ></button>
            <button
                pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length"
            ></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="products"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['primaryInfo']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="_id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Suits</h5>
                <span class="p-input-icon-left">
                    <input
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="primaryInfo" style="min-width: 15rem">
                    Primary Info <p-sortIcon field="primaryInfo"></p-sortIcon>
                </th>
                <th>Image</th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-suit>
            <tr>
                <td>
                    <p-tableCheckbox [value]="suit"></p-tableCheckbox>
                </td>
                <td>{{ suit.primaryInfo }}</td>
                <td>
                    <img [src]="suit.imgPaths[0]" [alt]="'img' + suit._id" width="50" class="shadow-4" />
                </td>
                <td>{{ suit.price }}</td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success me-2"
                        (click)="editProduct(suit)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(suit)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ products ? products.length : 0 }} suits.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <img
            [src]="product.imgPaths[0]"
            [alt]="product.imgPaths[0]"
            class="block m-auto pb-3"
            *ngIf="product.imgPaths[0]"
        />
        <div class="field">
            <label for="primaryInfo">Primary Info</label>
            <input id="primaryInfo" type="text" pInputText [(ngModel)]="product.primaryInfo" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.primaryInfo">Primary Info is required.</small>
        </div>
        <div class="field">
            <label for="secondaryInfo">Secondary Info</label>
            <textarea
                id="secondaryInfo"
                pInputTextarea
                [(ngModel)]="product.secondaryInfo"
                rows="3"
                cols="20"
                required
            ></textarea>
        </div>
        <div class="field">
            <label for="tertiaryInfo">Tertiary Info</label>
            <textarea
                id="tertiaryInfo"
                pInputTextarea
                [(ngModel)]="product.tertiaryInfo"
                rows="3"
                cols="20"
                required
            ></textarea>
        </div>

        <div class="field">
            <label class="mb-3">Gender</label>
            <div class="formgrid grid">
                <div *ngFor="let gender of genders" class="field-radiobutton col-6">
                    <p-radioButton
                        [id]="gender"
                        [name]="gender"
                        [value]="stringToGender(gender)"
                        [(ngModel)]="product.gender"
                    ></p-radioButton>
                    <label [for]="gender">{{ gender }}</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="mb-3">Colour</label>
            <div class="formgrid grid">
                <div *ngFor="let colour of colours" class="field-radiobutton col-6">
                    <p-radioButton
                        [id]="colour"
                        [name]="colour"
                        [value]="stringToColour(colour)"
                        [(ngModel)]="product.colour"
                    ></p-radioButton>
                    <label [for]="colour">{{ colour }}</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="mb-3">Brand</label>
            <div class="formgrid grid">
                <div *ngFor="let brand of brands" class="field-radiobutton col-6">
                    <p-radioButton
                        [id]="brand"
                        [name]="brand"
                        [value]="stringToBrand(brand)"
                        [(ngModel)]="product.brand"
                    ></p-radioButton>
                    <label [for]="brand">{{ brand }}</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="mb-3">Size</label>
            <div class="formgrid grid">
                <div *ngFor="let size of sizes" class="field-radiobutton col-6">
                    <p-checkbox
                        [id]="size"
                        [name]="size"
                        [value]="stringToSize(size)"
                        [(ngModel)]="product.sizes"
                        (ngModelChange)="onSizeSelectionChange(size)"
                    ></p-checkbox>
                    <label [for]="size">{{ size }}</label>
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber
                    id="price"
                    [(ngModel)]="product.price"
                    mode="currency"
                    currency="TRY"
                    locale="en-US"
                ></p-inputNumber>
            </div>
            <div class="field col">
                <label for="stock">Stock</label>
                <p-inputNumber id="stock" [(ngModel)]="product.stock"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
