<!-- ****** Quick View Modal Area Start ****** -->
<div
    *ngIf="suit"
    class="modal fade"
    id="quickview"
    tabindex="-1"
    role="dialog"
    aria-labelledby="quickview"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img [src]="suit!.imgPaths[0]" alt="" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">{{ suit.primaryInfo }}</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">{{ suit.price | currency: "₺" }}</h5>
                                    <p>
                                        {{ suit.secondaryInfo }}
                                    </p>
                                </div>

                                <div class="d-flex flex-column gap-3">
                                    <div *ngFor="let size of suit.sizes" class="field-checkbox">
                                        <p-radioButton
                                            [inputId]="size"
                                            name="size"
                                            [value]="size"
                                            [(ngModel)]="selectedSize"
                                        ></p-radioButton>
                                        <label [for]="size" class="ms-2">{{ size }}</label>
                                    </div>
                                </div>

                                <!-- Add to Cart Form -->
                                <form class="cart mt-4" method="post">
                                    <div class="quantity">
                                        <span class="qty-minus" (click)="decrease()"
                                            ><i class="fa fa-minus" aria-hidden="true"></i
                                        ></span>

                                        <input
                                            type="number"
                                            class="qty-text"
                                            id="qty-controlled-by-jquery-on-modal-closing"
                                            step="1"
                                            min="1"
                                            max="12"
                                            name="quantity"
                                            [(ngModel)]="cartItemQuantity"
                                        />

                                        <span class="qty-plus" (click)="increase()"
                                            ><i class="fa fa-plus" aria-hidden="true"></i
                                        ></span>
                                    </div>
                                    <button
                                        type="submit"
                                        name="addtocart"
                                        value="5"
                                        class="cart-submit"
                                        (click)="addToTheCart()"
                                    >
                                        Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****** Quick View Modal Area End ****** -->
