<ng-container *ngIf="fetchedSuits.length === 0; then skeleton; else fetchIsCompleted"> </ng-container>

<ng-template #skeleton>
    <div class="row">
        <ng-container *ngFor="let mockItem of mockArrayForSkeleton; index as i">
            <div class="col-12 col-sm-6 col-lg-4 single_gallery_item">
                <div class="product-img">
                    <!-- [style]="{ height: '5rem' }" -->
                    <p-skeleton shape="rectangle" height="18rem"></p-skeleton>
                </div>
                <div class="product-description">
                    <p-skeleton styleClass="mb-2" shape="rectangle" height="2rem" width="4rem"></p-skeleton>
                    <p-skeleton styleClass="mb-4" shape="rectangle" height="1rem" width="100%"></p-skeleton>
                    <p-skeleton styleClass="mb-4" shape="rectangle" height="2rem" width="6rem"></p-skeleton>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #fetchIsCompleted>
    <div class="row">
        <ul class="pagination ms-3 mb-4">
            <li class="page-item" [ngClass]="{ disabled: previousButtonIsDisabled() }">
                <a class="page-link" role="button" (click)="handlePreviousClick()">Previous</a>
            </li>
            <li
                *ngFor="let item of arrayBasedOnPageCount()"
                class="page-item"
                [ngClass]="{ active: item === currentPaginationIndex }"
            >
                <a class="page-link" role="button" (click)="handlePageNumberClick(item)">{{ item }}</a>
            </li>
            <li class="page-item" [ngClass]="{ disabled: nextButtonIsDisabled() }">
                <a class="page-link" role="button" (click)="handleNextClick()">Next</a>
            </li>
        </ul>
        <ng-container *ngFor="let suit of paginatedSuits; index as i">
            <div *ngIf="suit" class="col-12 col-sm-6 col-lg-4 single_gallery_item" data-wow-delay="0.2s">
                <!-- Product Image -->
                <div class="product-img">
                    <img [src]="suit.imgPaths[0]" alt="" />
                    <div class="product-quicview">
                        <a href="#" data-toggle="modal" data-target="#quickview" (click)="quickViewProduct(suit)"
                            ><i class="ti-plus"></i
                        ></a>
                    </div>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{ suit.price | currency: "₺" }}</h4>
                    <p>{{ suit.primaryInfo }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>
